.bg-primary{
    background-color: lightblue!important;
}
.nav-link{
    transition: all 0.5s!important;
    transform: scale(1)!important;
}
.nav-link:hover{
    transition: all 0.5s!important;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.313)!important;
}
